.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25)
    rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: fadeSpin 1.25s linear infinite;
}

@keyframes fadeSpin {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25)
      rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }
  25% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15)
      rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75)
      rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }
  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35)
      rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25)
      rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }
}
