.card {
  background-color: var(--color-product-card-bg);
  border-radius: 1rem;
  padding: 1rem;
}

.image {
  max-height: 10rem;
  max-width: 10rem;
}

.name {
  font-size: inherit;
}

.stars {
  color: var(--color-rating-stars);
}
