.card {
  background-color: var(--color-product-card-bg);
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.image {
  align-self: center;
  height: 10rem;
  max-width: 10rem;
  object-fit: contain;
}

.name {
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stars {
  color: var(--color-rating-stars);
}
