.card {
  background-color: var(--color-product-card-bg);
  border-radius: 1rem;
  padding: 1rem;
}

.link {
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-product-card-text);
}

.image {
  align-self: center;
  height: 10rem;
  max-width: 10rem;
  object-fit: contain;
}

.name {
  color: var(--color-product-card-text);
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stars {
  color: var(--color-rating-stars);
}

.addToCartButton {
  background-color: var(--color-add-to-cart-button-bg);
  border-radius: 0.375rem;
  color: var(--color-add-to-cart-button-text);
  padding: 0.25rem 0.5rem;
}
