/* Chrome, Safari, Edge */
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityInput {
  appearance: textfield;
}
