.container {
  display: flex;
}

.container :focus {
  z-index: 1;
}

.label {
  margin-inline-end: 0.5rem;
}

.decrementButton,
.incrementButton {
  background-color: var(--color-quantity-button-bg);
  color: var(--color-quantity-button-text);
  padding: 0.125rem;
  width: 1.5rem;
}

:is(.decrementButton, .incrementButton):disabled {
  cursor: not-allowed;
  filter: brightness(70%);
}

.decrementButton {
  border-radius: 0.375rem 0 0 0.375rem;
}

.incrementButton {
  border-radius: 0 0.375rem 0.375rem 0;
}

.quantityField {
  background-color: var(--color-quantity-input-bg);
  color: var(--color-quantity-input-text);
  padding: 0.125rem 0.375rem;
  text-align: center;
  width: 2.5rem;
}

/* Chrome, Safari, Edge */
.quantityField::-webkit-outer-spin-button,
.quantityField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityField {
  appearance: textfield;
}
