.list {
  display: flex;
}

.item:first-child .link {
  border-radius: 1rem 0 0 1rem;
}

.item:last-child .link {
  border-radius: 0 1rem 1rem 0;
}

.link,
.link:visited {
  color: var(--color-navbar-link);
}

.link {
  background-color: var(--color-navbar-bg);
  border: 2px solid transparent;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.link:focus,
.link:hover {
  background-color: var(--color-navbar-bg-hover);
}

.link:focus {
  border-color: var(--color-navbar-border-focus);
  outline: none;
}

.link.active {
  background-color: var(--color-navbar-link-active);
}

.cartLink {
  position: relative;
}

.cartItemCount {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
  translate: 25% 25%;
  width: 1.5rem;
  height: 1.5rem;

  background-color: var(--color-cart-item-count-badge);
  border-radius: 0.75rem;
  text-align: center;
}
