html {
  --black: #000;
  --dark-gray-15: #080808;
  --dark-gray-12: #222;
  --dark-gray-10: #333;
  --dark-gray-8: #444;
  --gray: #888;
  --white: #fff;

  --pale-dark-blue: #448;
  --pale-light-blue: #a4cefe;
  --pale-light-purple: #d8b8ff;

  --color-app-bg: var(--dark-gray-15);
  --color-text: var(--white);
  --color-link: var(--pale-light-blue);
  --color-link-visited: var(--pale-light-purple);

  --color-navbar-bg: var(--dark-gray-10);
  --color-navbar-bg-hover: var(--dark-gray-8);
  --color-navbar-link: var(--white);
  --color-navbar-link-active: var(--pale-dark-blue);
  --color-navbar-border-focus: var(--pale-light-blue);

  --color-product-card-bg: var(--dark-gray-12);
}
