.cartItem {
  background-color: var(--color-cart-item-container);
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  display: flex;
  gap: 1.5rem;
}

.image {
  align-self: center;
  object-fit: contain;

  height: 5rem;
  width: 5rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-cart-item-text);
}

.name {
  color: var(--color-cart-item-text);
  font-size: inherit;
}
