.image {
  align-self: center;
  height: 5rem;
  margin-inline: auto;
  object-fit: contain;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-cart-item-text);
}

.name {
  color: var(--color-cart-item-text);
  font-size: inherit;
  max-width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.deleteButton {
  background-color: transparent;
  color: var(--color-item-delete-button);
  font-family: monospace;
}

.deleteButton:is(:hover, :focus) {
  color: var(--color-item-delete-button-hover);
}
