.cartItemTable {
  background-color: var(--color-cart-item-container);
  border-radius: 1rem;
  margin-inline: auto;
  width: 45rem;

  border-spacing: 1.5rem;
}

.itemImageColumn {
  min-width: 5rem;
}

.itemDetailsColumn {
  width: 100%;
}
