.image {
  align-self: center;
  object-fit: contain;

  height: 5rem;
  width: 5rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-cart-item-text);
}

.name {
  color: var(--color-cart-item-text);
  font-size: inherit;
  max-width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemSubtotal {
  margin-inline-start: auto;
}
