.list {
  display: flex;
  position: relative;
}

.item:first-child .link {
  border-radius: 1rem 0 0 1rem;
}

.item:last-child .link {
  border-radius: 0 1rem 1rem 0;
}

.link,
.link:visited {
  color: var(--color-navbar-link);
}

.link {
  background-color: var(--color-navbar-bg);
  border: 2px solid transparent;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.link:focus,
.link:hover {
  background-color: var(--color-navbar-bg-hover);
}

.link:focus {
  border-color: var(--color-navbar-border-focus);
  outline: none;
}
